@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 15px 15px;
  padding: 0px;
  font-family: "Fira Sans", serif;
}
/* --------------------------------------------------------------------------------- */
/* all shared style-START */
.common-btn1 {
  border: 2px;
  background-color: #006a50;
  padding: 20px 20px;
  border-radius: 10px;
  color: white;
}
.title {
  color: #373636;
  font-weight: 800;
}
.text-description {
  color: #1f1e1e;
  paddin
}
.learn-more-blue {
  border: 1px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(126, 126, 223);
  color: white;
}
.learn-more-green {
  border: 1px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(26, 130, 26);
  color: white;
}
.learn-more-yellow {
  border: 1px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(240, 240, 95);
  color: white;
}

.agree-btn {
  padding: 10px 20px;
  background-color: rgb(218, 242, 222);
  border-radius: 5px;
}
/* all shared style-END */
/* --------------------------------------------------------------------------------- */
/* header portion-START */
nav {
  display: flex;
  justify-content: space-between;
}
.sign {
  padding: 10px 20px;
  border: 2px solid#006a50;
  border-radius: 5px;
  background-color: rgb(251, 249, 249);
}

.banner {
  width: auto;
  height: 560px;
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  border-radius: 10px;
  align-items: center;
}


.banner-title {
  color: #7d7b7b;
}
.banner-description {
  font-size: 40px;
}
/* header portion-END */
/* --------------------------------------------------------------------------------- */
/* Pillar of Bangldesh 2.0--START */
.title-pillars {
  margin-top: 100px;
}
.pillar-box {
  display: flex;
  justify-content: space-evenly;
}
.pillar-boxs {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  width: 450px;
  height: 260px;
}

/* Pillar of Bangldesh 2.0--END */
/* --------------------------------------------------------------------------------- */

/* <!-- The Vision of future START --> */
.pillar-box1 {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  width: 450px;
  height: 320px;
  background-color: rgb(203, 203, 255);
}
.pillar-box2 {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  width: 450px;
  height: 320px;
  background-color: rgb(186, 249, 208);
}

.pillar-box3 {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  width: 450px;
  height: 320px;
  background-color: rgb(243, 250, 226);
}
/* <!-- The Vision of future END --> */

/* Quote Section START */
.Quote {
  height: 150px;
  width: auto;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 10px 5px;
}
/* Quote Section END */
/* --------------------------------------------------------------------------------- */

/* <!-- Opinion--START --> */

table {
  border-collapse: collapse;
  margin: auto;
}
td {
  border: 1px solid rgb(151, 151, 151);
  padding: 20px;
}
.first-row {
  background-color: #d2fce2;
  height: 10px;
}
.Opinion-Matters {
  margin: 80px 20px;
}
/* <!-- Opinion--End --> */
/* --------------------------------------------------------------------------------- */

/* <!-- Recent news START --> */
.news {
  margin-top: 100px;
}
.news-box {
  display: flex;
}
.satelite {
  border-radius: 10px;
}

.newss-box {
  display: flex;
}
/* <!-- Recent news End --> */
/* --------------------------------------------------------------------------------- */
/* <!-- Donate today START--> */

.taka {
  text-align: center;
  justify-content: center;
}
.takaa {
  padding: 20px 30px;
  border-radius: 10px;
  font-size: large;
}
.takaa200 {
  background-color: #a4feac;
}
.other {
  display: flex;
  justify-content: center;
}

.done {
  display: flex;
  justify-content: center;
  height: 80px;
  color: white;
}
.holder {
  width: 800px;
  height: 50px;
  text-align: center;
}

/* <!-- Donate today END-->
<!------------------------------------------------------------------------------- --> */

/* footer START */
.Newsletter {
  text-align: center;
  background-color: #a4feac;
  border-radius: 20px;
  height: 200px;
  padding: 50px;
}
.enter {
  border: 1px;
  padding: 10px 110px;
  margin-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-sub {
  border: 1px;
  padding: 10px 30px;
  margin-left: 0;
  background-color: #006a50;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.BD2{
  text-align: center;
  margin-top: 100px;
}
.logo{
  text-align: center;
  margin-top: 20px;
  
}
/* footer END */
